@font-face {
    font-family: LCARS_Font;
    src: url("../fonts/lcars_font.ttf") format("truetype");
}

* {
    text-align: center;
    font-family: LCARS_Font, serif;
}

body {
    background-size: cover;
    background-color: #000000;
}

#top_lcars *, #bottom_lcars * {
    display: inline-block;
    margin: .1em;
}

#top_elbow, #bottom_elbow {
    background-color: #000000;
    width: 40em;
}

#top_elbow {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

#bottom_elbow * {
    position: absolute;
    top: 0;
}

.blue_box {
    background-color: #9999FF;
    width: 2em;
    height: 2em;
}

.maroon_box {
    background-color: #CC6666;
    width: 2em;
    height: 2em;
}

.purple_box {
    background-color: #CC99CC;
    width: 8em;
    height: 2em;
}

.pink_box {
    background-color: #FF9966;
    width: 8em;
    height: 1.25em;
}

.long_purple {
    background-color: #CC99CC;
    width: 20em;
    height: 2em;
}

.long_maroon {
    background-color: #CC6666;
    width: 5em;
    height: 2em;
}

.long_yellow {
    background-color: #FF9900;
    width: 5em;
    height: 2em;
}

h1 {
    color: #FF9900;
    margin-top: .5em;
    font-size: 400%;
/*    letter-spacing: -5em;*/
}

input {
    border-radius: 24em;
    background-color: #FF9900;
    border: #000000;
    font-weight: bold;
    font-size: 3em;
    width: 30%;
}

input[type='button'] {
    text-align: right;
    font-size: 2em;
    width: 20%;
    padding-top: .5em;
    padding-right: 1em;
}

input:first-of-type {
}

body>div {
    margin-top: 4em;
}

span {
    color: #FF9900;
    font-size: 4em;
}

.flashy {
    background: #FF9900;
}

#countdown_display {
    font-size: 4em;
    margin-top: 2em;
    border-radius: 24em;
}